@import 'tailwindcss';

.github-corner > svg {
  @apply opacity-50 transition-opacity duration-400;
}

.github-corner:hover > svg {
  @apply opacity-100;
}

.checkerboard {
  background-image:
    linear-gradient(45deg, #e2e8f0 25%, transparent 25%),
    linear-gradient(-45deg, #e2e8f0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #e2e8f0 75%),
    linear-gradient(-45deg, transparent 75%, #e2e8f0 75%);
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
  background-size: 16px 16px;
  background-color: #ffffff;
}
